@import "../../global.scss";

.works {
  background-color: #4e4f50;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      // display: none;
      height: 20px;
    }

    &.left {
      left: 100px;
      @include mobile {
        left: 0px;
      }
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
      @include mobile {
        right: 0px;
      }
    }
  }

  .slider {
    height: 300px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    // @include mobile {
    //   height: 100vh;
    //   flex-direction: column;
    //   justify-content: center;
    // }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      // @include mobile {
      //   width: 80%;
      //   display: inline-block;
      //   flex-direction: column;
      //   justify-content: center;
      // }

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 50px;
          width: 80%;
          height: 335px;
          margin: 15px 0;
        }

        .left {
          flex: 0.4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include mobile {
            // text-align: center;
            display: flex;
            flex: 0.5;
            flex-direction: column;
            justify-content: center;
            // border-radius: 50px;
            // width: 80%;
            // height: 300px;
            // margin: 15px 0;
          }
          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;

              // @include mobile {
              //   // margin: 0px;
              //   // font-size: 8px;
              //   // flex: 0.3
              // }

              img {
                width: 25px;

                // @include mobile {
                //   // width: 15px;
                //   flex: 0.5;
                // }
              }
            }
            h2 {
              margin: 5px 0;
              font-size: 20px;

              // @include mobile {
              //   // margin: 0px;
              //   // font-size: 8px;
              //   // flex: 0.3;
              //   font-size: 10px;
              // }
            }
            h3 {
              margin: 5px 0;
              font-size: 15px;

              // @include mobile {
              //   // margin: 0px;
              //   // font-size: 8px;
              //   flex: 0.5
              // }
            }
            p {
              margin: 5px 0;
              font-size: 13px;
              @include mobile {
                // margin: 0px;
                font-size: 7.5px;
                // flex: 0.3
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 0.3;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          @include mobile {
            display: flex;
            flex: 0.3;
            flex-direction: column;
            justify-content: center;
            // border-radius: 50px;
            // width: 80%;
            // height: 300px;
            // margin: 15px 0;
          }
          img {
            cursor: pointer;
            // width: 80%;
            // height: 80%;
            // transform: rotate(-10deg);
            @include mobile {
              // width: 80%;
              // height: 80%
              height: 3.25rem;
              // width: 100%;
            }
          }
        }
      }
    }
  }
}
