.top{
    width: 100%;
    height: 50px;
    background-color: #000;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter{
    flex: 6;
}

.topImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}   

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #FFF;
    cursor: pointer;
}


.logo{
    height: 20px;
    margin-right: 20px;
    color: #FFF;
    cursor: pointer;
}
.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: None;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    cursor: pointer;
}

.topSearchIcon{
    font-size: 15px;
    cursor: pointer;
    color: #FFF;
    margin-left: 15px;
}